.carousel-inner img {
  max-height: 70vh;
}

.carousel-indicators li {
  background-color: #000 9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(59, 59, 59);
  border-radius: 10px;
}

